body{
	background: #fff;
}
#myCanvas{
width: 500px;
height: 500px;
border:1px solid #999;
}
#myCanvas2{
width: 500px;
height: 500px;
border:1px solid #999;
}
#myCanvas3{
width: 500px;
height: 500px;
border:1px solid #999;
}
#myCanvas4{
width: 500px;
height: 500px;
border:1px solid #999;
}
#myCanvas5{
width: 500px;
height: 500px;
border:1px solid #999;
}
#myCanvas6{
width: 500px;
height: 500px;
border:1px solid #999;
}
#myCanvas7{
width: 500px;
height: 500px;
border:1px solid #999;
}